* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.blue {
    border-color: #2196F3;
    color: dodgerblue;
    border-radius: 5px;
}

.center {
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.floatleft {
    float: left;
}

.names {
    background-color: rgba(68, 68, 68, 0.562);
}

.video {
    background-color: rgba(68, 68, 68, 0.562);
}